<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MarioApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>   
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MarioApp.Properties.Settings>
            <setting name="MdvSetting" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalSQLSetting" serializeAs="String">
                <value/>
            </setting>
            <setting name="HostedSQLSetting" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathSPSetting" serializeAs="String">
                <value/>
            </setting>
        </MarioApp.Properties.Settings>
    </userSettings>
</configuration>
